.nav {

  &--toggle {
    display: none;
  }

  &--toggle:not(:checked)~ul {
    opacity: 0;

    @include breakpoint-md {
      opacity: 1;
    }
  }

  &--toggle:checked~ul {
    transform: scale(1, 1);
    opacity: 1;
    transition: transform 600ms ease-in-out;

  }



  &--hamburger {
    position: absolute;
    top: 25px;
    height: 20px;

    span,
    span:before,
    span:after {
      display: block;
      background: $black;
      height: 2px;
      width: 24px;
      border-radius: 2px;
      position: relative;
      transform: rotateZ(0deg);
    }

    span:before,
    span:after {
      content: '';
      position: absolute;
      transition: all 0.6s var(--animaton-curve);
    }

    span:before {
      top: 7px;
      transform-origin: left bottom;
    }

    span:after {
      bottom: 7px;
      transform-origin: left top;
    }

    @include breakpoint-md {
      display: none;
    }
  }
}

//close hamburger animation

#nav--toggle:checked~label>span {
  background: white;
}

#nav--toggle:checked~label>span::before {
  background: black;
  transform: rotatez(-38deg);
}

#nav--toggle:checked~label>span::after {
  background: black;
  transform: rotatez(38deg);
}

#nav--toggle~label>span {
  transition: all 0.5s var(--animaton-curve);
}