.header {
  &__panel {
    width: 100%;
    border-bottom: 1px solid $lightgrey;
    display: none;
    @include breakpoint-md {
      display: block; 
    }
    .header-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px;

      &__contacts--item {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin-right: 15px;

        .icon {
          margin-right: 5px;
        }
      } 
    }
  }
}