.header-box {
  a {
    color: $black;
    text-decoration: none;
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

.basket--text {
  font-size: 14px;
  font-weight: 700;
  color: $black;

  &:hover {
    color: $pink;
  }
}

.nav__items--link {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  a{
    color: $black;
    @include breakpoint-lg {
      font-size: 14px;
    }
  }

  &:hover, 
  &.active {
    a{

      color: $pink;
    }
  }
}